:root{
    --background-color: #222125;
    --backgroud-color-3: #141315; 
    --primary-font-color: #E9EAEC;
    --background-color-2: #616671;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--background-color);
    letter-spacing: 1.5px;
}

.plus-sign:focus{
    outline: none;
}